function createEl(name) {
    return document.createElement(name);
}

var container = createEl("div");
container.style.width = "900px";
container.style.height = "300px";

{% if ctx.currUser %}
var content="";
content += "<div style=\"width:300px;height:300px;border: 2px #faebcc solid;float:left;\">";
content += "        <p>You are logged in and earning bitcoin:<\/p>";
content += "";
content += "        <p>You can claim every 5x minutes:<\/p>";
content += "";
content += "        <p>200 Satoshi - 50% chance<\/p>";
content += "        <p>500 Satoshi - 30% chance<\/p>";
content += "        <p>800 Satoshi - 10% chance<\/p>";
content += "        <p>900 Satoshi - 9% chance<\/p>";
content += "        <p>3000 Satoshi - 1% chance<\/p>";
content += "";
content += "        <div style=\"border: 2px green solid; padding: 5px;\">";
content += "            <strong style=\"color: green;\">LIVE:<\/strong> Balance: 34,450,505 Satoshi";
content += "        <\/div>";
content += "    <\/div>";
content += "    <div style=\"width:300px;height:300px;border: 2px #faebcc solid; text-align: center;float:left;\">";
content += "        <h4>CoinAd Ad<\/h4>";
content += "        <p>Initially Forced<\/p>";
content += "";
content += "        <p>In future we will let them<\/p>";
content += "        <p>pay and upgrade and<\/p>";
content += "        <p>take cotrol of this as a<\/p>";
content += "        <p>blank html spot<\/p>";
content += "    <\/div>";
content += "    <div style=\"width:300px;height:300px;border: 2px #faebcc solid;float:left;\">";
content += "        <div style=\"border-radius: 2px; border: 2px gray solid;padding: 10px;\">";
content += "            <p style=\"color: gray\">Google Recaptcha Widget<\/p>";
content += "        <\/div>";
content += "";
content += "        <div style=\"border: 2px orange solid; padding: 5px;text-align:center;\">";
content += "            <p id=\"timer\" style=\"color: red;\">Time remaining: <span id=\"hour\">01<\/span>:<span id=\"minute\">45<\/span>:<span id=\"second\">30<\/span><\/p>";
content += "            <button id=\"claim\" style=\"display:none;\" onClick=\"startTimer();\">Claim A Reward<\/button>";
content += "        <\/div>";
content += "    <\/div>";
{% else %}
var content="";
content += "<div style=\"width:900px;height:300px;\">";
content += "    <div style=\"width:300px;height:300px;border: 2px #faebcc solid;float:left;\">";
content += "        <h3>Welcome to PaidBooks.com<\/h3>";
content += "";
content += "        <h3>You are now reading for FREE.<\/h3>";
content += "";
content += "        <p>However, did you know you can earn rewards for you reading time?<\/p>";
content += "";
content += "        <p>Just Login below and earn rewards every 5 minutes.<\/p>";
content += "    <\/div>";
content += "    <div style=\"width:300px;height:300px;border: 2px #faebcc solid; text-align: center;float:left;\">";
content += "        <h4>CoinAd Ad<\/h4>";
content += "        <p>Initially Forced<\/p>";
content += "";
content += "        <p>In future we will let them<\/p>";
content += "        <p>pay and upgrade and<\/p>";
content += "        <p>take cotrol of this as a<\/p>";
content += "        <p>blank html spot<\/p>";
content += "    <\/div>";
content += "    <div style=\"width:300px;height:300px;border: 2px #faebcc solid;float:left;\">";
content += "        <p>Login to earn rewards<\/p>";
content += "        <p>... all of this is editable text field.<\/p>";
content += "";
content += "        <button style=\"display: block;width: 100%;color: #fff; background-color: #337ab7;\">Facebook Login<\/button>";
content += "        <span style=\"display:block; text-align:center;\">Or<\/span>";
content += "        <button style=\"display: block;width: 100%;color: #000; background-color: #fff;\">Join\/Login with Email<\/button>";
content += "    <\/div>";
content += "<\/div>";
{% endif %}

container.innerHTML = content;
document.getElementById("widget").appendChild(container);

/**
 * Convert number of seconds into time object
 *
 * @param integer secs Number of seconds to convert
 * @return object
 */
function secondsToTime(secs)
{
    var hours = Math.floor(secs / (60 * 60));
   
    var divisor_for_minutes = secs % (60 * 60);
    var minutes = Math.floor(divisor_for_minutes / 60);
 
    var divisor_for_seconds = divisor_for_minutes % 60;
    var seconds = Math.ceil(divisor_for_seconds);
   
    var obj = {
        "h": hours,
        "m": minutes,
        "s": seconds
    };
    return obj;
}
var endTime = {{remClaimTime}};
var intervalTime = {{intervalTime}};
function getTimeRemaining() {
  endTime = endTime - 1;
  var time = secondsToTime(endTime);
  return {
    'hours': time.h,
    'minutes': time.m,
    'seconds': time.s
  };
}

function initializeCountdownTimer() {
  var hoursSpan = document.getElementById('hour');
  var minutesSpan = document.getElementById('minute');
  var secondsSpan = document.getElementById('second');

  function updateTimer() {
    var t = getTimeRemaining();
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (endTime <= 0) {
    	console.log("asdfasdf");
      document.getElementById('timer').style.display = "none";
      document.getElementById('claim').style.display = "block";
      clearInterval(timeinterval);
    }
  }

  console.log(endTime);
  if(endTime > 0) {
  	document.getElementById('timer').style.display = "block";
  	updateTimer();
  	if(endTime > 0)
    	var timeinterval = setInterval(updateTimer, 1000);
    else
    	document.getElementById('claim').style.display = "block";
   } else {
   		document.getElementById('timer').style.display = "none";
   		document.getElementById('claim').style.display = "block";
   	}
}

function startTimer() {
	document.getElementById('claim').style.display = "none";
	document.getElementById('timer').style.display = "block";
	endTime = intervalTime;
	initializeCountdownTimer();
}

initializeCountdownTimer();
